<%- include('./layouts/headers', { page : 'home' }) %>
<section class="home-slider owl-carousel js-fullheight">
  <div class="slider-item js-fullheight" style="background-image: url(/frontassets/images/bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text js-fullheight justify-content-center align-items-center" data-scrollax-parent="true">
        <div class="col-md-12 col-sm-12 text-center ftco-animate">
          <span class="subheading">Dapur Donat</span>
          <h1 class="mb-4">Best Donat</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-item js-fullheight" style="background-image: url(/frontassets/images/bg_2.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text js-fullheight justify-content-center align-items-center" data-scrollax-parent="true">
        <div class="col-md-12 col-sm-12 text-center ftco-animate">
          <span class="subheading">Dapur Donat</span>
          <h1 class="mb-4">Rasa Paling Enak</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-item js-fullheight" style="background-image: url(/frontassets/images/bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
        <div class="col-md-12 col-sm-12 text-center ftco-animate">
          <span class="subheading">Dapur Donat</span>
          <h1 class="mb-4">Harga Murah</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-wrap-about">
  <div class="container">
    <div class="row">
      <div class="col-md-7 d-flex">
        <div class="img img-1 mr-md-2" style="background-image: url(images/about.jpg);"></div>
        <div class="img img-2 ml-md-2" style="background-image: url(images/about-1.jpg);"></div>
      </div>
      <div class="col-md-5 wrap-about pt-5 pt-md-5 pb-md-3 ftco-animate">
        <div class="heading-section mb-4 my-5 my-md-0">
          <h2 class="mb-4">Dapur Donat</h2>
        </div>
        <p>Berdiri sejak tahun 2020 dengan bermula ide Kevin Tan dan dibantu rekannya Anova memiliki visi menghadirkan donat terenak dibandingkan brand-brand ternama berkat cita rasa yang enak dan bervariasi</p>
        <pc class="time">
          <span>Senin - Sabtu <strong>08.00 - 21.00</strong></span>
          <span><a href="#">+62-8571-9676-216</a></span>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-counter img ftco-no-pt" id="section-counter">
  <div class="container">
    <div class="row d-md-flex">
      <div class="col-md-12">
        <div class="row d-md-flex align-items-center">
          <div class="col-md-6 text-center col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text">
                <strong class="number" data-number="1">0</strong>
                <span>Tahun Berpengalaman</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 text-center col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text">
                <strong class="number" data-number="10">0</strong>
                <span>Menu Donat</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 text-center col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text">
                <strong class="number" data-number="20">0</strong>
                <span>Pekerja</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 text-center col-lg-3 mb-4 mb-lg-0 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text">
                <strong class="number" data-number="1000">0</strong>
                <span>Kepuasan Pelanggan</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('./layouts/footers', { page : 'home' }) %>
