<%- include('../layouts/headers', { page : 'listcart' }) %>
<section class="hero-wrap hero-wrap-2" style="background-image: url('/frontassets/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate text-center mb-4">
        <h1 class="mb-2 bread">KERANJANG LIST</h1>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="ftco-search">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th width="5">No</th>
                <th width="25">Nama Donat</th>
                <th width="25">Price Per Pcs</th>
                <th width="30">Quantity</th>
                <th width="15">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Donat Chocolate</td>
                <td>Rp. 15.000</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../layouts/footers', { page : 'home' }) %>