  <footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6 col-lg-4">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Dapur Donat</h2>
            <img src="/frontassets/logo.png" class="logo-header">
            <p>Yuk beli donat di kita. Enak pokonya !</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Jam Operasional</h2>
            <ul class="list-unstyled open-hours">
              <li class="d-flex"><span>Senin</span><span>08.00 - 21:00</span></li>
              <li class="d-flex"><span>Selasa</span><span>08.00 - 21:00</span></li>
              <li class="d-flex"><span>Rabu</span><span>08.00 - 21:00</span></li>
              <li class="d-flex"><span>Kamis</span><span>08.00 - 21:00</span></li>
              <li class="d-flex"><span>Jumat</span><span>08.00 - 21:00</span></li>
              <li class="d-flex"><span>Sabtu</span><span>08.00 - 21:00</span></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Ingin Dapet Promo?</h2>
            <p>Yuk input emailnya dibawah ...</p>
            <form action="#" class="subscribe-form">
              <div class="form-group">
                <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="form-control submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>
            Dapur Donat
          </p>
        </div>
      </div>
    </div>
  </footer>

  <div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/>
    </svg>
  </div>

<script src="/frontassets/js/jquery.min.js"></script>
<script src="/frontassets/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/frontassets/js/popper.min.js"></script>
<script src="/frontassets/js/bootstrap.min.js"></script>
<script src="/frontassets/js/jquery.easing.1.3.js"></script>
<script src="/frontassets/js/jquery.waypoints.min.js"></script>
<script src="/frontassets/js/jquery.stellar.min.js"></script>
<script src="/frontassets/js/owl.carousel.min.js"></script>
<script src="/frontassets/js/jquery.magnific-popup.min.js"></script>
<script src="/frontassets/js/aos.js"></script>
<script src="/frontassets/js/jquery.animateNumber.min.js"></script>
<script src="/frontassets/js/bootstrap-datepicker.js"></script>
<script src="/frontassets/js/jquery.timepicker.min.js"></script>
<script src="/frontassets/js/scrollax.min.js"></script>
<script src="/frontassets/js/main.js"></script>

</body>
</html>