<%- include('./layouts/headers', { page: 'dashboard' }) %>
  <div class="col-md-10 content">
    <div class="panel panel-default">
      <div class="panel-heading">Dashboard</div>
      <div class="panel-body">
        WELCOME TO DASHBOARD
      </div>
    </div>
  </div>
<%- include('./layouts/footers') %>